<img src='Data/ERD.png'>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

## Change username and password to match your personal MySQL Server settings
#username = 'root' # default username for MySQL db is root
#password = 'Dino2010' # whatever password you chose during MySQL installation.

In [2]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "Dino2010" # (or whatever password you chose during mysql installation)
db_name = "sakila"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [3]:
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [4]:
q = """SELECT * FROM film;"""
pd.read_sql(q, engine)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-14 13:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-14 13:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-14 13:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-14 13:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2006-02-14 13:03:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,None,6,0.99,183,9.99,G,"Trailers,Behind the Scenes",2006-02-14 13:03:42
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,None,4,0.99,179,14.99,NC-17,"Trailers,Behind the Scenes",2006-02-14 13:03:42
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,None,6,0.99,105,10.99,NC-17,Deleted Scenes,2006-02-14 13:03:42
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,None,5,2.99,101,28.99,R,"Trailers,Deleted Scenes",2006-02-14 13:03:42
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-14 13:03:42

## What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.

In [5]:
q= """SELECT 
    c.first_name, c.last_name,c.email, a.address, city.city
FROM
    customer AS c
        JOIN
    address AS a ON c.address_id = a.address_id 
        JOIN
    city on a.city_id = city.city_id 
WHERE 
a.city_id = 312;
"""
pd.read_sql(q,engine)

,first_name,last_name,email,address,city
0,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,London
1,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,London

## What query would you run to get all comedy films? Note that the genre is called the category in this schema. Your query should return film title, description, release year, rating, and special features.

In [6]:
q= """ 

SELECT 
    film.title,
    film.description,
    film.release_year,
    film.rating,
    film.special_features,
    category.name as category_name
    
FROM 
    film
        JOIN 
    film_category ON film.film_id = film_category.film_id
        JOIN
    category ON category.category_id = film_category.category_id
WHERE
    category.name = "Comedy"
"""

pd.read_sql(q,engine)

,title,description,release_year,rating,special_features,category_name
0,AIRPLANE SIERRA,A Touching Saga of a Hunter And a Butler who m...,2006,PG-13,"Trailers,Deleted Scenes",Comedy
1,ANTHEM LUKE,A Touching Panorama of a Waitress And a Woman ...,2006,PG-13,"Deleted Scenes,Behind the Scenes",Comedy
2,BRINGING HYSTERICAL,A Fateful Saga of a A Shark And a Technical Wr...,2006,PG,Trailers,Comedy
3,CAPER MOTIONS,A Fateful Saga of a Moose And a Car who must P...,2006,G,"Trailers,Commentaries,Deleted Scenes",Comedy
4,CAT CONEHEADS,A Fast-Paced Panorama of a Girl And a A Shark ...,2006,G,"Commentaries,Deleted Scenes",Comedy
5,CLOSER BANG,A Unbelieveable Panorama of a Frisbee And a Hu...,2006,R,"Trailers,Behind the Scenes",Comedy
6,CONNECTION MICROCOSMOS,A Fateful Documentary of a Crocodile And a Hus...,2006,G,"Deleted Scenes,Behind the Scenes",Comedy
7,CONTROL ANTHEM,A Fateful Documentary of a Robot And a Student...,2006,G,Commentaries,Comedy
8,CRAZY HOME,A Fanciful Panorama of a Boy And a Woman who m...,2006,PG,"Commentaries,Deleted Scenes",Comedy
9,DADDY PITTSBURGH,A Epic Story of a A Shark And a Student who mu...,2006,G,"Deleted Scenes,Behind the Scenes",Comedy
10,DOOM DANCING,A Astounding Panorama of a Car And a Mad Scien...,2006,R,"Trailers,Commentaries",Comedy
11,DOWNHILL ENOUGH,A Emotional Tale of a Pastry Chef And a Forens...,2006,G,"Trailers,Commentaries,Deleted Scenes",Comedy
12,DYING MAKER,A Intrepid Tale of a Boat And a Monkey who mus...,2006,PG,Behind the Scenes,Comedy
13,ELEMENT FREDDY,A Awe-Inspiring Reflection of a Waitress And a...,2006,NC-17,"Commentaries,Behind the Scenes",Comedy
14,FERRIS MOTHER,A Touching Display of a Frisbee And a Frisbee ...,2006,PG,"Trailers,Deleted Scenes,Behind the Scenes",Comedy
15,FIREBALL PHILADELPHIA,A Amazing Yarn of a Dentist And a A Shark who ...,2006,PG,"Trailers,Commentaries,Behind the Scenes",Comedy
16,FLINTSTONES HAPPINESS,A Fateful Story of a Husband And a Moose who m...,2006,PG-13,"Trailers,Commentaries,Deleted Scenes,Behind th...",Comedy
17,FRANKENSTEIN STRANGER,A Insightful Character Study of a Feminist And...,2006,NC-17,"Deleted Scenes,Behind the Scenes",Comedy
18,FREEDOM CLEOPATRA,A Emotional Reflection of a Dentist And a Mad ...,2006,PG-13,"Trailers,Commentaries,Behind the Scenes",Comedy
19,GOLD RIVER,A Taut Documentary of a Database Administrator...,2006,R,"Trailers,Commentaries,Deleted Scenes,Behind th...",Comedy
20,GROUNDHOG UNCUT,A Brilliant Panorama of a Astronaut And a Tech...,2006,PG-13,"Trailers,Commentaries,Deleted Scenes,Behind th...",Comedy
21,GUNFIGHT MOON,A Epic Reflection of a Pastry Chef And a Explo...,2006,NC-17,"Deleted Scenes,Behind the Scenes",Comedy
22,HATE HANDICAP,A Intrepid Reflection of a Mad Scientist And a...,2006,PG,"Trailers,Commentaries,Behind the Scenes",Comedy
23,HEAVEN FREEDOM,A Intrepid Story of a Butler And a Car who mus...,2006,PG,Commentaries,Comedy
24,HEDWIG ALTER,A Action-Packed Yarn of a Womanizer And a Lumb...,2006,NC-17,"Trailers,Commentaries,Behind the Scenes",Comedy
25,HURRICANE AFFAIR,A Lacklusture Epistle of a Database Administra...,2006,PG,"Trailers,Commentaries,Behind the Scenes",Comedy
26,HUSTLER PARTY,A Emotional Reflection of a Sumo Wrestler And ...,2006,NC-17,"Trailers,Commentaries,Behind the Scenes",Comedy
27,JAWS HARRY,A Thrilling Display of a Database Administrato...,2006,G,Deleted Scenes,Comedy
28,KNOCK WARLOCK,A Unbelieveable Story of a Teacher And a Boat ...,2006,PG-13,Trailers,Comedy
29,LIFE TWISTED,A Thrilling Reflection of a Teacher And a Comp...,2006,NC-17,"Commentaries,Deleted Scenes",Comedy
30,LION UNCUT,A Intrepid Display of a Pastry Chef And a Cat ...,2006,PG,"Trailers,Deleted Scenes",Comedy
31,LONELY ELEPHANT,A Intrepid Story of a Student And a Dog who mu...,2006,G,"Trailers,Commentaries,Deleted Scenes,Behind th...",Comedy
32,MALLRATS UNITED,A Thrilling Yarn of a Waitress And a Dentist w...,2006,PG,"Trailers,Commentaries,Deleted Scenes",Comedy
33,MEMENTO ZOOLANDER,A Touching Epistle of a Squirrel And a Explore...,2006,NC-17,Behind the Scenes,Comedy
34,MULAN MOON,A Emotional Saga of a Womanizer And a Pioneer ...,2006,G,Behind the Scenes,Comedy
35,MYSTIC TRUMAN,A Epic Yarn of a Teacher And a Hunter who must...,2006,NC-17,"Commentaries,Behind the Scenes",Comedy
36,OPERATION OPERATION,A Intrepid Character Study of a Man And a Fris...,2006,G,"Trailers,Commentaries,Deleted Scenes,Behind th...",Comedy
37,PARADISE SABRINA,A Intrepid Yarn of a Car And a Moose who must ...,2006,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes",Comedy
38,PARTY KNOCK,A Fateful Display of a Technical Writer And a ...,2006,PG,"Trailers,Behind the Scenes",Comedy
39,PERFECT GROOVE,A Thrilling Yarn of a Dog And a Dog who must B...,2006,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes",Comedy
40,PINOCCHIO SIMON,A Action-Packed Reflection of a Mad Scientist ...,2006,PG,"Commentaries,Behind the Scenes",Comedy
41,PURE RUNNER,A Thoughtful Documentary of a Student And a Ma...,2006,NC-17,"Trailers,Deleted Scenes",Comedy
42,RUSHMORE MERMAID,A Boring Story of a Woman And a Moose who must...,2006,PG-13,"Trailers,Commentaries,Deleted Scenes",Comedy
43,SADDLE ANTITRUST,A Stunning Epistle of a Feminist And a A Shark...,2006,PG-13,"Trailers,Deleted Scenes",Comedy
44,SATURN NAME,A Fateful Epistle of a Butler And a Boy who mu...,2006,R,"Trailers,Commentaries,Deleted Scenes,Behind th...",Comedy
45,SEARCHERS WAIT,A Fast-Paced Tale of a Car And a Mad Scientist...,2006,NC-17,"Trailers,Commentaries,Deleted Scenes,Behind th...",Comedy
46,SNATCH SLIPPER,A Insightful Panorama of a Woman And a Feminis...,2006,PG,Commentaries,Comedy
47,STAGE WORLD,A Lacklusture Panorama of a Woman And a Frisbe...,2006,PG,"Commentaries,Behind the Scenes",Comedy
48,STRICTLY SCARFACE,A Touching Reflection of a Crocodile And a Dog...,2006,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes",Comedy
49,SUBMARINE BED,A Amazing Display of a Car And a Monkey who mu...,2006,R,Trailers,Comedy
50,SWEDEN SHINING,A Taut Documentary of a Car And a Robot who mu...,2006,PG,"Deleted Scenes,Behind the Scenes",Comedy
51,TRAINSPOTTING STRANGERS,A Fast-Paced Drama of a Pioneer And a Mad Cow ...,2006,PG-13,Trailers,Comedy
52,TRAMP OTHERS,A Brilliant Display of a Composer And a Cat wh...,2006,PG,Deleted Scenes,Comedy
53,VALLEY PACKER,A Astounding Documentary of a Astronaut And a ...,2006,G,"Commentaries,Deleted Scenes",Comedy
54,VELVET TERMINATOR,A Lacklusture Tale of a Pastry Chef And a Tech...,2006,R,Behind the Scenes,Comedy
55,VERTIGO NORTHWEST,A Unbelieveable Display of a Mad Scientist And...,2006,R,"Commentaries,Behind the Scenes",Comedy
56,WISDOM WORKER,A Unbelieveable Saga of a Forensic Psychologis...,2006,R,"Deleted Scenes,Behind the Scenes",Comedy
57,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,NC-17,"Trailers,Commentaries,Behind the Scenes",Comedy

## What query would you run to get all the films that Johnny Lollobrigida was in? Your query should return the actor's last name, film title, and release year.

In [7]:
q= """SELECT 
    actor.first_name, actor.last_name, film.title, film.release_year
FROM
    actor 
        JOIN
    film_actor ON actor.actor_id = film_actor.actor_id
        JOIN
    fiLM ON film_actor.film_id = film.film_id   
WHERE 
actor.first_name = 'Johnny' AND actor.last_name = 'Lollobrigida';
"""
pd.read_sql(q,engine)

   first_name     last_name                 title  release_year
0      JOHNNY  LOLLOBRIGIDA          AMADEUS HOLY          2006
1      JOHNNY  LOLLOBRIGIDA      BANGER PINOCCHIO          2006
2      JOHNNY  LOLLOBRIGIDA      BONNIE HOLOCAUST          2006
3      JOHNNY  LOLLOBRIGIDA           CHITTY LOCK          2006
4      JOHNNY  LOLLOBRIGIDA  COMMANDMENTS EXPRESS          2006
5      JOHNNY  LOLLOBRIGIDA     CONEHEADS SMOOCHY          2006
6      JOHNNY  LOLLOBRIGIDA      DADDY PITTSBURGH          2006
7      JOHNNY  LOLLOBRIGIDA       DAISY MENAGERIE          2006
8      JOHNNY  LOLLOBRIGIDA         ENOUGH RAGING          2006
9      JOHNNY  LOLLOBRIGIDA     ESCAPE METROPOLIS          2006
10     JOHNNY  LOLLOBRIGIDA           FIRE WOLVES          2006
11     JOHNNY  LOLLOBRIGIDA        FRONTIER CABIN          2006
12     JOHNNY  LOLLOBRIGIDA     GOODFELLAS SALUTE          2006
13     JOHNNY  LOLLOBRIGIDA    GRAIL FRANKENSTEIN          2006
14     JOHNNY  LOLLOBRIGIDA        GROOVE FICTION          2006
15     JOHNNY  LOLLOBRIGIDA          HALL CASSIDY          2006
16     JOHNNY  LOLLOBRIGIDA          HEAVENLY GUN          2006
17     JOHNNY  LOLLOBRIGIDA      KRAMER CHOCOLATE          2006
18     JOHNNY  LOLLOBRIGIDA         LOVE SUICIDES          2006
19     JOHNNY  LOLLOBRIGIDA      METAL ARMAGEDDON          2006
20     JOHNNY  LOLLOBRIGIDA       PACIFIC AMISTAD          2006
21     JOHNNY  LOLLOBRIGIDA      PATTON INTERVIEW          2006
22     JOHNNY  LOLLOBRIGIDA            POCUS PULP          2006
23     JOHNNY  LOLLOBRIGIDA   RIDGEMONT SUBMARINE          2006
24     JOHNNY  LOLLOBRIGIDA   RINGS HEARTBREAKERS          2006
25     JOHNNY  LOLLOBRIGIDA         SMILE EARRING          2006
26     JOHNNY  LOLLOBRIGIDA    SOLDIERS EVOLUTION          2006
27     JOHNNY  LOLLOBRIGIDA        STAR OPERATION          2006
28     JOHNNY  LOLLOBRIGIDA        SUNRISE LEAGUE          2006

## What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?

In [10]:
q= """SELECT 
    actor.first_name, actor.last_name
FROM
    actor
        JOIN
    film_actor ON actor.actor_id = film_actor.actor_id 
WHERE 
film_actor.film_id = (SELECT
        film_id
    FROM
        film
    WHERE
        film.title = 'Bingo Talented');
"""
pd.read_sql(q,engine)

  first_name    last_name
0     GOLDIE        BRODY
1    CAMERON         WRAY
2       CARY  MCCONAUGHEY
3        JON        CHASE
4      RENEE         BALL

## What query would you run to get the customer_id associated with all payments greater than twice the average payment amount? (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.

In [12]:
q= """
SELECT 
    customer_id, amount
FROM 
    payment
WHERE
    amount > 2 * (SELECT
            AVG(amount)  
        FROM
            
            payment);
"""
pd.read_sql(q,engine)

     customer_id  amount
0              1    9.99
1              2   10.99
2              3    8.99
3              3   10.99
4              3    8.99
..           ...     ...
852          595    9.99
853          595   10.99
854          597    8.99
855          599    9.99
856          599    8.99

[857 rows x 2 columns]

## What query would you run to list the first and last names of the 5 customers who have the highest number(count) of payments? You can title the number of payments as num_payments.

In [13]:
q= """
SELECT
    customer.first_name, 
    customer.last_name, 
    (SELECT 
            COUNT(*)
        FROM
            payment
        WHERE
            payment.customer_id = customer.customer_id) AS num_payments
FROM
    customer 
ORDER BY num_payments DESC
LIMIT 5;

"""
pd.read_sql(q,engine)

  first_name last_name  num_payments
0    ELEANOR      HUNT            46
1       KARL      SEAL            45
2     MARCIA      DEAN            42
3      CLARA      SHAW            42
4      TAMMY   SANDERS            41